{% extends 'head.html' %}

{% block contenido %}
    <!-- MENU DE NAVEGACION DE USUARIOS LOGIN Programado: Lerkis-->
    
    <!-- FIN DE MENU -->
    <!-- INICIO DE CONTENIDO-->
    <div class="card">
        <div class="card-body">
            <form action="/cursos" method="POST" >
                <label for="">Digite Curso</label>
                <input type="text" name="txtCurso" required>
                <button type="submit" class="asignar-deco btn btn-primary">Enviar</button>
            </form>          
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE CURSO</th>
                        <th>ACCIONES</th>
                        <th></th>
                        
                    </tr>            
                </thead>
                <tbody>
                    {% for item in lista %}
                    <tr>                
                        <td>{% print(item[0])%}</td>
                        <td>{% print(item[1])%}</td>
                        <td>
                            <form action="/cursos_editar" method="POST">
                                <input type="hidden" name="txtEditar" value="1">
                                <input type="hidden" name="txtIdCurso" value="{% print(item[0])%}">    
                                <input type="hidden" name="txtNombre" value="{% print(item[1])%}">                            
                                <button type="submit" class="btn btn-primary" title="Editar"><i class="bi bi-pencil-square"></i></button>
                            </form>                              
                        </td>      
                        <td>
                            <form action="/cursos_detalle" method="POST">
                                <input type="hidden" name="txtEditar" value="1">
                                <input type="hidden" name="txtNombre" value="{% print(item[1])%}">
                                <input type="hidden" name="txtIdCurso" value="{% print(item[0])%}">                                    
                                <button type="submit" class="btn btn-danger" title="detalle Curso"><i class="bi bi-calculator"></i></button>
                            </form>
                        </td>      
                    </tr>
                    {% endfor %}
                </tbody>
        
            </table>
        </div>
    </div>
        
    
{% endblock %}