{% extends 'head.html' %}

{% block contenido %}
    <!-- MENU DE NAVEGACION DE USUARIOS LOGIN Programado: Lerkis-->
    <div class="card">
        <div class="card-body">
            <h3>Detalle de Curso {{ nombre }}</h3>
            <form action="/cursos_detalle" method="POST">
                <div class="form-group">
                    <input type="hidden" name="txtIdCurso" value="{{ id }}">
                    <label for="exampleFormControlInput1">Seleccione Materia</label>
                    <select name="cboMaterias">
                        {% for item in listaMaterias %}
                            <option value="{{ item[0] }}">{{ item[1] }}</option>                        
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">                    
                    <label for="exampleFormControlInput1">Seleccione Docente</label>
                    <select name="cboDocentes">
                        {% for item in listaDocentes %}
                            <option value="{{ item[0] }}">{{ item[1] }}</option>                        
                        {% endfor %}
                    </select>
                </div>                
                <input type="hidden" name="txtEditar" value="2">
                <button type="submit" class="asignar-deco btn btn-primary">Enviar</button>
            </form>         
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        
                        <th>MATERIA</th>
                        <th>DOCENTE</th>
                        
                        
                    </tr>            
                </thead>
                <tbody>
                    {% for item in lista %}
                    <tr>                
                        <td>{% print(item[0])%}</td>
                        <td>{% print(item[1])%}</td>                            
                    </tr>
                    {% endfor %}
                </tbody>
        
            </table>
        </div>
    </div>
{% endblock %}