{% extends 'head.html' %}

{% block contenido %}
    <!-- MENU DE NAVEGACION DE USUARIOS LOGIN Programado: Lerkis-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% print(usuario) %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Configurar</a>
                        <a class="dropdown-item" href="#">Salir</a>                        
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- FIN DE MENU -->
    <!-- INICIO DE CONTENIDO-->
    <div class="card">
        <div class="card-body">
            <h3>Registro de Personas</h3>
            <form action="/personas" method="POST">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Nombre</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="txtNombre">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Telefono</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="txtTelefono">
                </div>              
                <div class="form-group">
                    <label for="exampleFormControlInput1">Correo</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" name="txtCorreo">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Direccion</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="txtDireccion">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Seleccione Rol</label>
                    <select name="cboRol">
                        {% for item in lista %}
                            <option value="{{ item[0] }}">{{ item[1] }}</option>                        
                        {% endfor %}
                    </select>
                </div>  
                
                <button type="submit" class="asignar-deco btn btn-primary">Enviar</button>
            </form>         
        </div>
    </div>
    
        
    
{% endblock %}