{% extends 'head.html' %}

{% block contenido %}
    <!-- MENU DE NAVEGACION DE USUARIOS LOGIN Programado: Lerkis-->
    
    <!-- FIN DE MENU -->
    <!-- INICIO DE CONTENIDO-->
    <div class="card">
        <div class="card-body">
            <h3>Registro de Personas</h3>
            <form action="/personas" method="POST">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Nombre</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="txtNombre">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Telefono</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="txtTelefono">
                </div>              
                <div class="form-group">
                    <label for="exampleFormControlInput1">Correo</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" name="txtCorreo">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Direccion</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="txtDireccion">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Seleccione Rol</label>
                    <select name="cboRol">
                        {% for item in lista %}
                            <option value="{{ item[0] }}">{{ item[1] }}</option>                        
                        {% endfor %}
                    </select>
                </div>  
                
                <button type="submit" class="asignar-deco btn btn-primary">Enviar</button>
            </form>         
        </div>
    </div>
    
        
    
{% endblock %}