<h3>Registrate</h3>
<p>Se parte de nuestra Universidad.</p>
<hr>
<form action="">    
    <input type="text" placeholder="Nombre" required>
    <input type="text" placeholder="Apellido" required>
    <input type="text" placeholder="Corre Electronico">
    <input type="number" placeholder="Numero de Telefono" required>
    <button type="submit">Enviar</button>
</form>
<p>Al hacer clic en "Registrarte", aceptas nuestras Condiciones, la Política de datos y la Política de cookies. Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras.</p>